.container{
    display: flex;
    justify-content: center;
    
}

#child{
    
    display: flex;
    flex-flow: column;
    justify-content: center;
    
}

.logo .logo-imagen{
    width: 60%;
    padding: 20px  1px;
    display: block;
    margin: auto;
}